@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  padding: 0;
  margin: 0;
  background: #00204E;
  -webkit-app-region: drag;
}

#wrapper {
  padding-bottom: 135px;
  width: 650px;
  float: left;
  height: 430px;
  z=index:-1;
}

#wrapper {
  width: 650px;
  float: left;
  height: 430px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#uoft{
  position:absolute;
      padding-left: 520px;
      padding-top: 533px;
      user-select: none;

}

#logo {
  text-align: center;
  padding-top: 80px;
  padding-left: 200px;
  position:absolute;
  user-select: none;
}
.cls-1 {
  fill: none;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  stroke-width: 6px;
}

.low-mid {
	stroke: #4f90c9;
}

.middle {
  stroke: #377BB5;
}

.top {
	stroke: #306a9c;

}
.bottom {
	  stroke: #8ab5db;
}

.share-circle {
  stroke: #d8e6f3;
}

.top {
  z-index: 5;
}

.middle {
  z-index: 255;
}

h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
}
h1 span {
  font-size: 13px;
  display: block;
  padding-left: 4px;
}


p a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #b83729;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
p a:hover {
  background-color: #ab3326;
}

.custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

.custom-file-upload {
  display: block;
  width: auto;
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
    padding-left:150px;
    padding-top:200px;
    position:absolute;
    z-index: 1;
}
.custom-file-upload label {
  display: block;
  margin-bottom: 5px;
}

.file-upload-wrapper {
  position: relative;
  margin-bottom: 5px;
}

.file-upload-input {
  width: 250px;
  color: #095F0A;
  font-size: 16px;
  padding: 11px 17px;
  border: none;
  background-color: #d8e6f3;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  float: left;
  /* IE 9 Fix */
}
.file-upload-input:hover, .file-upload-input:focus {
  background-color: #d8e6f3;
  outline: none;
}

.file-upload-button {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 11px 20px;
  border: none;
  margin-left: -1px;
  background-color: #377BB5;
  float: left;
  /* IE 9 Fix */
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

}
.file-upload-button:hover {
  background-color: #306a9c;
}

@keyframes undash {
  100% {
    stroke-dashoffset: 0;
  }
}
